.chatBodyContainer {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 0;
}
.message {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  width: 100%;
  /* max-width: 580px; */
}
.flexEnd {
  align-items: flex-end;
}
