.usersListContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  padding: 20px 10px;  
  height: 100%;
  overflow-y: scroll;
 
}
.albhabet {
  font-size: 20px;
  text-transform: capitalize;
  color: #102d5b;
  padding: 10px 0;
  font-weight: bold;
}
.username {
  color: #102d5b;
  cursor: pointer;
}
.userList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status {
  color: rgb(2, 179, 120);
  font-size: 20px;
  cursor: pointer;
}
